*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/intermediates
**/.DS_Store
**/bin/
**/gen/
**/out/
gradle/
**/*.iml
.idea/
.DS_Store
bin/
gradlew
